

.container-raffi {
    height: auto;
    background-color: rgb(47, 47, 242);
    margin: 0;
}
.navbar-brand-raffi h1{
    font-size: 30px;
    float: right;
}
.login-raffi {
    background-color: blue;
    color: white;
    width: 200px;
}
section h2 {
    text-align: center;
    border: 3px solid orange;
    background-color: antiquewhite;
    width: 200px;
    margin: 10px auto 0;
}
.menu-slider-raffi {
    width: 900px;
    height: 300px;
    background-color: lightcyan;
    margin: 0 auto;
}
.menu-popula-raffi {
    width: 900px;
    height: 300px;
    background-color: lightcyan;
    margin: 0 auto;
}
.menu-mobile-raffi {
    width: 900px;
    height: 300px;
    background-color: lightcyan;
    margin: 0 auto;
}
.menu-pc-raffi {
    width: 900px;
    height: 300px;
    background-color: lightcyan;
    margin: 0 auto;
}
footer {
    width: auto;
    height: 300px;
    background-color: white;
}
/* ini css login form */
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
  }
  
  .login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .google-login {
    text-align: center;
  }
  
  .google-login img {
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
/* css login form end  */

.swal2-popup {
  font-family: 'Arial', sans-serif; /* Ganti 'Arial' dengan font pilihan Anda */
}

#login-page {
  background-image: url(../assets/photos/bg-login2.jpg);
  background-size: cover;
}


.logo-img {

  display: flex;
  margin-left: 30%;
  margin-bottom: 0px;
  width: 50%;
  height: 100px;
  background-image: url(../assets/photos/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
